<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
  .form-valid.success input{
    border-color: green
  }
   .form-valid.error input{
    border-color: red
  }
   .form-valid small{
    color: red
    position: absolute;
    visibility: hidden;
  }
  .form-valid.error small{
    visibility: visible;
  }
  .botton{
  background-color: #3498db
  }
</style>
<body>


<form method="post" id="form" name = "myForm" onsubmit="return validateInputs()" >
    {% csrf_token %}
    <div class="form-valid">
    Host Address:&emsp; &emsp; <input type="text" id="hostname" name="hostadd" placeholder="Enter Host Address" >
    <small>Error message</small>
    </div>
   <div class="form-valid">
    User Name :&emsp; &emsp; &nbsp;&nbsp; <input type="text"  id="username" name="username" placeholder="Enter User Name" >
    <small>Error message</small>
    </div>

    <button type="submit" class="bottonc2" >Add Data</button><br><br>

</form>
<script>

    const form=document.getElementById('form')
    const hostname=document.getElementById('hostname')
    const username=document.getElementById('username')

    function showError (input, message) {
        const formValid = input.parentElement;
        formValid.className='form-valid error';
        const small=formValid.querySelector('small');
        small.innerText= message;
    }
    function showSuccess(input){
        formValid = input.parentElement;
        formValid.className='form-valid success';
        }

    function validateInputs(){

    if (hostname.value === ''){
    showError(hostname, 'Host name requried')
    }else{
    showSuccess(hostname)
    }

    if (username.value === ''){
    showError(username, 'user name requried')
    }else{
    showSuccess(username)
    }
    if (dbdrop.value !== '' && hostname.value !== '') {
            return true;
        }



  return false; };




</script>
</body>
</html>