<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<form method="post" id="form" name = "myForm" onsubmit="return checkname()" >
    {% csrf_token %}
    <div>
    Host Address:&emsp; &emsp; <input type="text" id="host_name" name="hostadd" placeholder="Enter Host Address" >

    </div>
   <div>
            Server Name:&emsp; &emsp;&nbsp; <input type="text" id="server_name" name="servername" placeholder="Enter Server Name" >
            <span class="err_msg" id="server_name_err"></span>
    </div><br>

    <button type="submit" class="bottonc2" >Add Data</button><br><br>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

</script>
</body>
</html>